{% extends 'base.html.twig' %}

{% block title %}Petonnect{% endblock %}

{% block body %}
	{% set userHasPets = app.user.pets|length > 0 %}
	<div
		class="main">
		{# Users can not create a new post if they don't have any pets #}
		{% if userHasPets %}
			{% include '/post/_create.html.twig' %}
		{% endif %}
		{% include '/post/_list.html.twig' with {'posts': posts, 'userHasPets': userHasPets} %}
	</div>
{% endblock %}
