{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-2xl font-bold">Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}
