{% extends 'base.html.twig' %}
{% block title %}My Pets
{% endblock %}
{% block body %}
	<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
		{{ form_start(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.gender) }}

		<button class="btn btn-primary">Save</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
