.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 400px;
    max-width: 400px;
    overflow: hidden;
}


.login-container .flash-messages:not(:has(.alert)) {
    display: none;
}

.login-container .title {
    background-color: var(--dark-green);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form div input {
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    font-size: 1rem;
    padding: 5px;
}
.login-form div input:focus {
    outline: none;
    border-color: var(--dark-green);
    box-shadow: 0 0 3px var(--dark-green);
}

.login-form .email-container input,
.login-form .password-container input {
    width: 100%;
    height: 2.5rem;
} 

.login-form .item{
    display: flex;
    align-items: center;
    gap: 0px;
}

.login-form .item .icon{
    background-color: var(--light-green);
    color: white;
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    height: 2.5rem; 
    overflow: hidden;
}

.login-container .flash-messages {
    border: 2px solid var(--red);
    padding: 10px;
} 

.login-form .item-5.register-link{
    text-align: center; 
} 