@import "tailwindcss";
@source not "../../public";

/* Fontawsome */
@import "../fontawsome/css/all.css";
@import "../fontawsome/css/fontawesome.css";
@import "../fontawsome/css/solid.css";

@import "./variables.css";
@import "./fonts.css";
@import "./user/login.css";
@import "./user/register.css";

body {
    background-color: var(--light-white);
    font-family: "Inter"; 
    font-style: normal;
}

input[type="radio"] {
  accent-color: var(--dark-green);  
}
input[type="radio"]:hover {
  accent-color: var(--light-green);  
}


.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px;
}

.form-control:focus {
    outline: none;
    border-color: var(--dark-green);
    box-shadow: 0 0 3px var(--dark-green);
}

/* * {
    outline: 0.0001rem solid red;
}  */
