@import "tailwindcss";
@source not "../../public";

/* Fontawsome */
@import "../fontawsome/css/all.css";
@import "../fontawsome/css/fontawesome.css";
@import "../fontawsome/css/solid.css";

@import "./variables.css";
@import "./fonts.css";
@import "./user/login.css";
@import "./user/register.css";

body {
    background-color: var(--dark-white);
    font-family: "Inter"; 
    font-style: normal;
}

* {
    outline: 0.0001rem solid red;
}
