@import "tailwindcss";
@source not "../../public";

/* Fontawsome */
@import "../fontawsome/css/all.css";
@import "../fontawsome/css/fontawesome.css";
@import "../fontawsome/css/solid.css";

@import "./variables.css";
@import "./fonts.css";
@import "./user/login.css";
@import "./user/register.css";

body {
    background-color: var(--light-white);
    font-family: "Inter"; 
    font-style: normal;
}

input[type="radio"] {
  accent-color: var(--dark-green);  
}
input[type="radio"]:hover {
  accent-color: var(--light-green);  
}



/* * {
    outline: 0.0001rem solid red;
}  */
