@import "tailwindcss";
@source not "../../public";
@import "./variables.css";
@import "./fonts.css";
@import "./user/login.css";
@import "./user/register.css";
body {
    background-color: var(--dark-white);
}
