<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('assets/icon/main_logo.svg') }}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% if app.user %}
			{% block nav_bar %}
				{% include 'page/nav-bar.html.twig' %}
			{% endblock %}
		{% endif %}
		
		{% block body %}{% endblock %}
		
		{% block flash_messages %}
			<div id="flash-container" class="fixed top-0 right-0 z-50 p-4">
				{% include 'ui-component/_flashes.html.twig' %}
			</div>
		{% endblock %}
	</body>
</html>
