{% block new_post %}
	<div class="w-full max-w-2xl mx-auto py-4">
		<div class="bg-(--white) rounded-xl shadow-sm border border-gray-200 p-[calc(var(--spacing-unit)*2)]">
			<div class="mb-[calc(var(--spacing-unit)*2)]">
				<textarea 
                    id="new-post-textarea" 
                    class="w-full border-none focus:ring-0 text-xl bg-transparent text-(--text-dark-gray) placeholder-gray-400 resize-none min-h-10 max-h-40 p-0 focus-visible:outline-none" 
                    style="field-sizing: content;"
                    placeholder="What's new?"></textarea>
			</div>
			<div class="flex items-center justify-between">
				<button aria-label="Upload Photo" class="cursor-pointer bg-(--dark-green) hover:bg-(--light-green) transition-all w-12 h-12 rounded-full flex items-center justify-center text-white shadow-md focus:outline-none" type="button">
					<i class="fa-regular fa-camera fa-xl"></i>
				</button>
				<button class="cursor-pointer bg-(--dark-green) hover:bg-(--light-green)  transition-all px-8 py-2.5 rounded-full text-white font-bold tracking-wider text-sm focus:outline-none" type="button">
					SEND
				</button>
			</div>
		</div>
	</div>
{% endblock %}